<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join member</title>
    <script src="/js/jquery-1.11.3.js"></script>
##    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <style type="text/css">
        textarea { width: 300px; }
    </style>
</head>
<body>

<h5>가입</h5>
<p>카카오 인증을 해주세요.</p>
<form method="post" onsubmit="return false;" action="">
    <p><input type="button" value="카카오인증" onclick="kakaoLogin.login()"></p>
    이름: <input type="text" style="width: 300px;" id="nickname" name="nickname" /><br />
    주소: <input type="text" style="width: 300px;" id="address" name="address" /><br />
    프로필: <img src="" width="200" id="profile_image" alt="" />
##    썸네일: <img src="" width="200" id="thumbnail_image" alt="" /><br />
##    access_token: <textarea rows="2" id="access_token" name="access_token"></textarea><br />
    refresh_token: <textarea rows="2" id="accessKey" name="accessKey"></textarea><br />
    <input type="button" id="submitbtn" value="가입" disabled="disabled" />
</form>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
    Kakao.init('65d720156619ff0ac32d1ad8faa01196');
    /*
    var oAuthKakao = function(){
        Kakao.Auth.login({
            success: function(authObj) {

                console.log(authObj);

                jQuery("#access_token").value = authObj.access_token;
                jQuery("#refresh_token").value = authObj.refresh_token;
                afterKakaoAccess();
            },
            fail: function(err) {
                console.log(err);
            }
        });
    }
    */
    var kakaoLogin = {
        authObj: '',
        authInfo: '',
        init: function(){
            this.initSubmit();
        },
        initSubmit: function(){
            jQuery("#submitbtn").click(function(){
                this.sendJoin();
            });
        },
        sendJoin: function(){
            jQuery.ajax({
                        url: '/users/',
                        type: 'post',
                        data: {
                            id: kakaoLogin.authInfo.id,
                            nickname: jQuery("#nickname").val(),
                            address: jQuery("#address").val(),
                            profileImage: kakaoLogin.authInfo.properties.profile_image,
                            accessKey: kakaoLogin.authObj.refresh_token,
                        },
                        success: function(data){
                            if(data && data.id){
                                alert(data.nickname);
                            }
                        }
                    }
            )
        },
        login: function(){
//            self.authInfo.id = new Date() + 1; // for local test only
            var self = this;
            Kakao.Auth.login({
                success: function(authObj) {
                    self.authObj = authObj;
                    jQuery("#accessKey").val(authObj.refresh_token);
                    kakaoLogin.getKakaoInfo();
                },
                fail: function(err) {
                    console.log(err);
                }
            });
            /*
            var authObj = {
                "access_token":"vXfuO3zbcHp7GNGhYCGLnif56wy5xiitn5LoRawQTJgAAAFR6-2MhA",
                "token_type":"bearer",
                "refresh_token":"X3_hEbBXbuDt1Kzz1iMFkuxH9M22GTlx5kprP6wQTJgAAAFR6-2Mgg",
                "expires_in":7199,
                "scope":"story_publish story_read profile"
            }
            */
        },
        getKakaoInfo: function(){
            var self = this;
            Kakao.API.request({
                url: '/v1/user/me',
                success: function(res) {
                    self.authInfo = res;
                    self.checkId();
                },
                fail: function(error) {
                    alert(JSON.stringify(error))
                }
            });
        },
        checkId: function(){
            var self = this;
//            this.authObj.access_token
            jQuery.ajax({
                    url: '/users/' + self.authInfo.id,
                    type: 'get',
                    success: function(data){
                        if(data && data.id == self.authInfo.id){
                            alert("이미 가입한 아이디 입니다.");
                        } else {
                            self.fillRegiForm();
                            self.enableSubmit();
                        }
                    }
                }
            )
        },
        fillRegiForm: function(){
            jQuery("#nickname").val(this.authInfo.properties.nickname);
            jQuery("#profileImage").val(this.authInfo.properties.profile_image);
            jQuery("#profile_image").attr('src', this.authInfo.properties.profile_image);
        },
        enableSubmit: function(){
            jQuery("#submitbtn").attr('disabled', false);
        }
    }
    kakaoLogin.init();
</script>
</body>
</html>
