<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join member</title>
</head>
<body>
<h5>가입</h5>
<form method="post" action="">
    이름 :<input type="text" name="nickname"><br>
    주소 :<input type="text" name="address"><br>
    <input type="submit" value="가입">
</form>
</body>
</html>
